Repository modelix/modelix.core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @modelix/developers, @slisson, @mhuster23, @odzhychko

.github/CODEOWNERS:

* @modelix/developers
/authorization/ @slisson
/bulk-model-sync-gradle/ @mhuster23
/bulk-model-sync-gradle-test/ @mhuster23
/bulk-model-sync-lib/ @mhuster23
/bulk-model-sync-solution/ @mhuster23
/light-model-client/ @slisson
/metamodel-export/ @slisson
/model-api/ @slisson
/model-api-gen/ @slisson
/model-api-gen-gradle/ @slisson
/model-api-gen-gradle-test/ @slisson
/model-api-gen-runtime/ @slisson
/model-client/ @slisson
/model-datastructure/ @slisson
/model-server/ @slisson
/model-server-api/ @slisson
/model-server-lib/ @slisson
/model-sync-lib/ @slisson
/modelql-client/ @slisson
/modelql-core/ @slisson
/modelql-html/ @slisson
/modelql-server/ @slisson
/modelql-typed/ @slisson
/modelql-untyped/ @slisson
/mps-model-adapters/ @slisson
/mps-model-server/ @slisson
/mps-model-server-plugin/ @slisson
/ts-model-api/ @slisson
/vue-model-api/ @odzhychko

chore(mps-sync-plugin): add @UnstableModelixFeature annotation to the plugin and lib projects
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/configuration/CloudResourcesConfigurationComponent.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/icons/CloudIcons.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/icons/LetterInSquareIcon.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/indicator/CloudIndicator.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/listeners/MPSSynchronizationAppLifecycleListener.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/listeners/MPSSynchronizationDynamicPluginListener.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/tools/ModelSyncGuiFactory.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/ModelPersistenceWithFixedId.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncService.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ITreeToSTreeTransformer.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ModelAccessExt.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/MpsToModelixMap.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SNodeFactory.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SolutionProducer.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModelChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModuleChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/NodeChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/INodeExt.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/SModelExt.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/SModuleExt.kt
Owners: @modelix/developers

chore: rename and restructure mps sync plugin and lib folders and artifacts
  commitlint.config.js
  mps-sync-plugin-lib/build.gradle.kts
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/ModelPersistenceWithFixedId.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncService.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ModelAccessExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/MpsToModelixMap.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SNodeFactory.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SolutionProducer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModelChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModuleChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/NodeChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/INodeExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/SModelExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/SModuleExt.kt
  mps-sync-plugin/build.gradle.kts
  settings.gradle.kts
Owners: @modelix/developers

build: keep sync-plugin-lib and mps-sync-lib for now to make the build happy
  commitlint.config.js
Owners: @modelix/developers

feat(mps-model-server-plugin): new 'loadModels' health check
  docs/global/modules/core/pages/reference/component-mps-model-server-plugin.adoc
  model-server-lib/src/main/kotlin/org/modelix/model/server/light/LightModelServer.kt
  mps-model-server-plugin/src/main/kotlin/org/modelix/model/server/mps/MPSModelServer.kt
Owners: @modelix/developers, @slisson

Notes added by 'git notes add'
  62/884ed2c63e35f1ef868c943bde3aaefd92a9a8
Owners: @modelix/developers

feat(sync-plugin-lib): play remote changes from modelix into MPS
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ITreeToSTreeTransformer.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SNodeFactory.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModelChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModuleChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/NodeChangeListener.kt
  sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/AtomicReferenceExt.kt
Owners: @modelix/developers

chore: allow to ignore commit lint errors
  commitlint.config.js
Owners: @modelix/developers

fix(model-server): writing to a branch using the v1 API failed
  model-server/src/main/kotlin/org/modelix/model/server/store/IgniteStoreClient.kt
Owners: @slisson

test(model-server): use ignite also in unit tests
  light-model-client/src/jvmTest/kotlin/org/modelix/client/light/LightModelClientTest.kt
  model-server/src/main/kotlin/org/modelix/model/server/Main.kt
  model-server/src/main/kotlin/org/modelix/model/server/store/IStoreClient.kt
  model-server/src/main/kotlin/org/modelix/model/server/store/IgniteStoreClient.kt
  model-server/src/main/kotlin/org/modelix/model/server/store/InMemoryStoreClient.kt
  model-server/src/main/resources/org/modelix/model/server/store/ignite-inmemory.xml
  model-server/src/test/java/org/modelix/model/server/RestModelServerTest.java
  model-server/src/test/kotlin/org/modelix/model/server/JsonAPITest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientV2Test.kt
  model-server/src/test/kotlin/org/modelix/model/server/ReplicatedRepositoryTest.kt
Owners: @slisson

chore: rename .java to .kt before conversion
  model-server/src/test/kotlin/org/modelix/model/server/RestModelServerTest.kt
Owners: @slisson

test(model-server): run unit tests with IgniteStoreClient and InMemoryStoreClient
  .gitignore
  light-model-client/src/jvmTest/kotlin/org/modelix/client/light/LightModelClientTest.kt
  model-server/src/main/kotlin/org/modelix/model/server/store/IStoreClient.kt
  model-server/src/main/kotlin/org/modelix/model/server/store/InMemoryStoreClient.kt
  model-server/src/test/kotlin/org/modelix/model/server/JsonAPITest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientV2Test.kt
  model-server/src/test/kotlin/org/modelix/model/server/ReplicatedRepositoryTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/RestModelServerTest.kt
Owners: @modelix/developers, @slisson

test(model-server): ignore failing tests
  light-model-client/src/jvmTest/kotlin/org/modelix/client/light/LightModelClientTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ReplicatedRepositoryTest.kt
Owners: @slisson

test(model-server): enabled IgniteStoreClient based tests
  light-model-client/src/jvmTest/kotlin/org/modelix/client/light/LightModelClientTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ReplicatedRepositoryTest.kt
Owners: @slisson

test(bulk-model-sync-gradle): use non-default model server port for tests
  bulk-model-sync-gradle-test/build.gradle.kts
  bulk-model-sync-gradle-test/ci.sh
  bulk-model-sync-gradle-test/src/test/kotlin/org/modelix/model/sync/bulk/gradle/test/PushTest.kt
Owners: @mhuster23

build(bulk-model-sync): removed unnecessary build script dependency
  bulk-model-sync-gradle-test/build.gradle.kts
Owners: @mhuster23

build(deps): use google-java-format:1.18.1
  model-server/build.gradle.kts
Owners: @slisson

refactor(bulk-model-sync-gradle): use new runMPS tasks from mps-build-tools
  bulk-model-sync-gradle-test/build.gradle.kts
  bulk-model-sync-gradle-test/graph-lang-api/build.gradle.kts
  bulk-model-sync-gradle-test/src/test/kotlin/org/modelix/model/sync/bulk/gradle/test/PushTest.kt
  bulk-model-sync-gradle/build.gradle.kts
  bulk-model-sync-gradle/src/main/kotlin/org/modelix/model/sync/bulk/gradle/ModelSyncGradlePlugin.kt
  bulk-model-sync-gradle/src/main/kotlin/org/modelix/model/sync/bulk/gradle/config/ModelSyncGradleSettings.kt
  bulk-model-sync-gradle/src/main/kotlin/org/modelix/model/sync/bulk/gradle/tasks/ExportFromMps.kt
  bulk-model-sync-gradle/src/main/kotlin/org/modelix/model/sync/bulk/gradle/tasks/GenerateAntScriptForMps.kt
  bulk-model-sync-gradle/src/main/kotlin/org/modelix/model/sync/bulk/gradle/tasks/ImportIntoMps.kt
  bulk-model-sync-mps/build.gradle.kts
  bulk-model-sync-mps/src/main/java/org/modelix/mps/model/sync/bulk/MPSBulkSynchronizer.java
  commitlint.config.js
  docs/global/modules/core/pages/reference/component-bulk-model-sync-gradle.adoc
  gradle/libs.versions.toml
  settings.gradle.kts
Owners: @mhuster23, @modelix/developers

fix(bulk-model-sync-lib): handle export more efficiently
  bulk-model-sync-lib/src/jvmMain/kotlin/org/modelix/model/sync/bulk/ModelExporter.kt
Owners: @mhuster23

refactor(bulk-model-sync): migrate MPSBulkSynchronizer to kotlin
  bulk-model-sync-mps/src/main/java/org/modelix/mps/model/sync/bulk/MPSBulkSynchronizer.java
  bulk-model-sync-mps/src/main/kotlin/org/modelix/mps/model/sync/bulk/MPSBulkSynchronizer.kt
Owners: @modelix/developers

chore(bulk-model-sync): remove unused solution
  bulk-model-sync-solution/.mps/.gitignore
  bulk-model-sync-solution/.mps/.name
  bulk-model-sync-solution/.mps/migration.xml
  bulk-model-sync-solution/.mps/modules.xml
  bulk-model-sync-solution/.mps/vcs.xml
  bulk-model-sync-solution/build.gradle.kts
  bulk-model-sync-solution/solutions/org.modelix.mps.model.sync.bulk/.gitignore
  bulk-model-sync-solution/solutions/org.modelix.mps.model.sync.bulk/models/org.modelix.mps.model.sync.bulk.mps
  bulk-model-sync-solution/solutions/org.modelix.mps.model.sync.bulk/org.modelix.mps.model.sync.bulk.msd
  commitlint.config.js
Owners: @mhuster23, @modelix/developers

fix(mps-sync-plugin-lib): generalize action executor helpers and use modelix read transactions
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/ModelAccessExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SNodeFactory.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/SolutionProducer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/listeners/ModuleChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/AtomicReferenceExt.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): fix referenceChanged event handler, initial impl nodeRemoved event handler
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/neu/MpsToModelixMap.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): refactoring move classes to new packages
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/ModelPersistenceWithFixedId.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/factories/SNodeFactory.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/factories/SolutionProducer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/listeners/ModelChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/listeners/ModuleChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/listeners/NodeChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/ModelAccessExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/SModelExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/SModuleExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/MpsToModelixMap.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): extract model, module and node transformers to classes
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncService.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/factories/SNodeFactory.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/ModelTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/ModuleTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/NodeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/AtomicReferenceExt.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): extract TreeChangeVisitor to a new class
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/initial/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/ModelTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/ModuleTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/NodeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/ModelChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/ModuleChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/NodeChangeListener.kt
Owners: @modelix/developers

perf(bulk-model-sync): parallelize export
  bulk-model-sync-mps/src/main/kotlin/org/modelix/mps/model/sync/bulk/MPSBulkSynchronizer.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): playing in add new node changes from the cloud
  mps-model-adapters/src/main/kotlin/org/modelix/model/mpsadapters/MPSLanguageRepository.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/NodeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/NodeChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/INodeExt.kt
Owners: @slisson, @modelix/developers

feat(mps-sync-plugin-lib): implement containmentChanged in TreeChangeVisitor
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/initial/ITreeToSTreeTransformer.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): modelAccess did not wait for the completion of certain MPS actions
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/ModelAccessExt.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): test and fix containmentChanged event handler
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/ModelAccessExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): test moving children to and from root nodes
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): add manual testing facility that must be removed later
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncService.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/tools/ModelSyncGuiFactory.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): remove nodeChangeListener from modelChangeListener
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/initial/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/ModelChangeListener.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/ModuleChangeListener.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): implement modelRemove and moduleRemove listeners
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
Owners: @modelix/developers

feat(mps-sync-plugin-lib): more than one models in module
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/mps/util/SModelExt.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/MpsToModelixMap.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/initial/ITreeToSTreeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/ModelTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/NodeTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/util/INodeExt.kt
Owners: @modelix/developers

fix(mps-sync-plugin-lib): add basic info to newly created model
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/ModelTransformer.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/mpsToModelix/incremental/ModuleChangeListener.kt
Owners: @modelix/developers

test(mps-sync-plugin): first test running in IntelliJ
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/tools/ModelSyncGuiFactory.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTests.kt
Owners: @modelix/developers

build: fixed Inconsistent JVM-target compatibility detected for tasks
  build.gradle.kts
Owners: @modelix/developers

build: use MPS 2023.2 by default
  build.gradle.kts
Owners: @modelix/developers

test(mps-sync-plugin): first test running in MPS
  .github/workflows/build.yaml
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/src/test/kotlin/SyncPluginTests.kt
Owners: @modelix/developers
