Repository modelix/modelix.core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @modelix/developers, @slisson, @mhuster23, @odzhychko

.github/CODEOWNERS:

* @modelix/developers
/authorization/ @slisson
/bulk-model-sync-gradle/ @mhuster23
/bulk-model-sync-gradle-test/ @mhuster23
/bulk-model-sync-lib/ @mhuster23
/bulk-model-sync-solution/ @mhuster23
/light-model-client/ @slisson
/metamodel-export/ @slisson
/model-api/ @slisson
/model-api-gen/ @slisson
/model-api-gen-gradle/ @slisson
/model-api-gen-gradle-test/ @slisson
/model-api-gen-runtime/ @slisson
/model-client/ @slisson
/model-datastructure/ @slisson
/model-server/ @slisson
/model-server-api/ @slisson
/model-server-lib/ @slisson
/model-sync-lib/ @slisson
/modelql-client/ @slisson
/modelql-core/ @slisson
/modelql-html/ @slisson
/modelql-server/ @slisson
/modelql-typed/ @slisson
/modelql-untyped/ @slisson
/mps-model-adapters/ @slisson
/mps-model-server/ @slisson
/mps-model-server-plugin/ @slisson
/ts-model-api/ @slisson
/vue-model-api/ @odzhychko

build: deduplicate MPS version to IDEA version mapping
  build.gradle.kts
  mps-model-adapters/build.gradle.kts
  mps-model-server-plugin/build.gradle.kts
  mps-sync-plugin-lib/build.gradle.kts
  mps-sync-plugin/build.gradle.kts
Owners: @modelix/developers, @slisson

ci: use JDK 17
  .github/workflows/build.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yml
Owners: @modelix/developers

ci: download MPS also in the test jobs
  .github/workflows/build.yaml
Owners: @modelix/developers

build: ensure the same MPS version is used everywhere
  build.gradle.kts
  mps-model-adapters/build.gradle.kts
  mps-model-server-plugin/build.gradle.kts
  mps-sync-plugin-lib/build.gradle.kts
  mps-sync-plugin/build.gradle.kts
Owners: @modelix/developers, @slisson

test(mps-sync-plugin): first test that loads an MPS project
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
  mps-sync-plugin/src/test/kotlin/TestInfrastructureTests.kt
Owners: @modelix/developers

test(mps-sync-plugin): test case for storing a project on the server
  model-api/src/commonMain/kotlin/org/modelix/model/data/ModelData.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncService.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @slisson, @modelix/developers

feat(mps-sync-plugin): fixed all compile errors in the copied java files
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/src/main/java/org/modelix/common/AuthorOverride.java
  mps-sync-plugin/src/main/java/org/modelix/common/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/DevKitDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ModuleDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/NodeToSNodeAdapter.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModelAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SRepositoryAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SingleLanguageDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/plugin/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/CloudDataDependency.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/CommandHelper.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MPSProjectUtils.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MessageHandler.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelPropertiesSynchronizer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelServerConnection.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelServerConnections.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelsSynchronizer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModuleCheckout.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/RootBinding.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/TransactionUtil.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/TreeChangesCollector.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/CloudNodeTreeNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/LoadingIcon.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/ModelServerTreeNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/TreeModelUtil.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/AddModelServer_Action.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/AutoBindings.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/CopyAndSyncPhysicalProjectOnCloud_Action.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/PersistedBindingConfiguration.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/projectview/CloudModuleTreeNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/projectview/CloudProjectViewExtension.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/projectview/trace.info
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/trace.info
  mps-sync-plugin/src/main/resources/META-INF/plugin.xml
Owners: @modelix/developers

feat(mps-sync-plugin): disabled the failing test
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
Owners: @modelix/developers

test(mps-sync-plugin): project sync with legacy implementation
  mps-sync-plugin/src/main/java/org/modelix/common/AuthorOverride.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelServerConnection.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelServerConnections.java
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/api/ISyncService.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
  mps-sync-plugin/src/test/kotlin/TestInfrastructureTests.kt
Owners: @modelix/developers

build: removed ktlint from the Gradle build
  build.gradle.kts
  model-api/build.gradle.kts
  ts-model-api/build.gradle.kts
Owners: @modelix/developers, @slisson

fix(model-api-gen-gradle): older MPS versions failed to run on Java 17
  model-api-gen-gradle/src/main/kotlin/org/modelix/metamodel/gradle/GenerateAntScriptForMpsMetaModelExport.kt
Owners: @slisson

fix(model-server): ModelClient v1 didn't receive a 'server-id'
  model-server/src/main/kotlin/org/modelix/model/server/handlers/KeyValueLikeModelServer.kt
Owners: @slisson

test(mps-sync-plugin): initial project sync mostly working
  model-api/src/commonMain/kotlin/org/modelix/model/data/ModelData.kt
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/repositoryconcepts/org.modelix.model.repositoryconcepts-src.jar
  mps-sync-plugin/repositoryconcepts/org.modelix.model.repositoryconcepts.jar
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/JavaModuleFacetAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/MPSLanguageRepository.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ModuleDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ProjectAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ProjectModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModelAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SingleLanguageDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MPSNodeMapping.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelsSynchronizer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ProjectModulesSynchronizer.java
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/api/ISyncService.kt
  mps-sync-plugin/src/main/resources/META-INF/plugin.xml
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @slisson, @modelix/developers

test(mps-sync-plugin): initial project sync green
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModelsSynchronizer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ProjectModulesSynchronizer.java
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers

test(mps-sync-plugin): sync of new module/model
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers

build: order of maven repositories
  build.gradle.kts
Owners: @modelix/developers

ci: run tests also with MPS 2023.2
  .github/workflows/mps-compatibility.yaml
Owners: @modelix/developers

test(mps-sync-plugin): initial project sync green
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers

test(mps-sync-plugin): sync of new module created on the server first
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MPSProjectUtils.java
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers

ci(mps-sync-plugin): include mps-sync-plugin in MPS compatibility tests
  .github/workflows/mps-compatibility.yaml
Owners: @modelix/developers

ci: run MPS compatibility test only with the first and last version
  .github/workflows/mps-compatibility.yaml
  mps-sync-plugin/build.gradle.kts
Owners: @modelix/developers

fix(mps-sync-plugin): make it compile with MPS 2023.2 again
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/DevKitDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ModuleDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModelAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SRepositoryAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SingleLanguageDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/CommandHelper.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/LoadingIcon.java
Owners: @modelix/developers

ci: MPS has to be downloaded before the actual gradle build run
  .github/workflows/mps-compatibility.yaml
Owners: @modelix/developers

fix(mps-sync-plugin): make it compatible with MPS 2021.1
  .github/workflows/mps-compatibility.yaml
  build.gradle.kts
  mps-model-adapters/build.gradle.kts
  mps-model-server-plugin/build.gradle.kts
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/DevKitDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/ModuleDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/NodeToSNodeAdapter.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModelAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModuleAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SRepositoryAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SingleLanguageDependencyAsNode.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/CommandHelper.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MPSProjectUtils.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/LoadingIcon.java
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers, @slisson

build: compile graph-lang-api to Java 11
  bulk-model-sync-gradle-test/graph-lang-api/build.gradle.kts
Owners: @mhuster23

feat(model-server): migrate to resource based routing based on OpenAPI spec
  api/public.yaml
  gradle/libs.versions.toml
  model-server/build.gradle.kts
  model-server/src/main/kotlin/org/modelix/model/server/Main.kt
  model-server/src/main/kotlin/org/modelix/model/server/handlers/ModelReplicationServer.kt
  model-server/src/main/resources/openapi/templates/AppMain.kt.mustache
  model-server/src/main/resources/openapi/templates/Paths.kt.mustache
  model-server/src/main/resources/openapi/templates/api.mustache
  model-server/src/main/resources/openapi/templates/data_class.mustache
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientTest.kt
  model-server/src/test/kotlin/org/modelix/model/server/ModelClientV2Test.kt
  model-server/src/test/kotlin/org/modelix/model/server/ReplicatedRepositoryTest.kt
Owners: @modelix/developers, @slisson

build: extract MPS during configuration phase
  .github/workflows/build.yaml
  .github/workflows/mps-compatibility.yaml
  build.gradle.kts
  mps-model-server-plugin/build.gradle.kts
  mps-sync-plugin/build.gradle.kts
Owners: @modelix/developers, @slisson

build: use the extracted MPS for compile dependencies everywhere
  bulk-model-sync-mps/build.gradle.kts
  mps-model-adapters/build.gradle.kts
  mps-model-server-plugin/build.gradle.kts
  mps-sync-plugin-lib/build.gradle.kts
  mps-sync-plugin/build.gradle.kts
Owners: @modelix/developers, @slisson

test(mps-sync-plugin): removal of module on the server
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
Owners: @modelix/developers

test(mps-sync-plugin): sync from server into new MPS project
  model-api/src/commonMain/kotlin/org/modelix/model/api/INode.kt
  model-client/src/commonMain/kotlin/org/modelix/model/client2/IModelClientV2.kt
  model-client/src/commonMain/kotlin/org/modelix/model/client2/ModelClientV2.kt
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/MPSProjectUtils.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ProjectBinding.java
  mps-sync-plugin/src/test/kotlin/CloudFirstProjectTest.kt
  mps-sync-plugin/src/test/kotlin/MPSProjectDataBuilder.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
  mps-sync-plugin/src/test/kotlin/TestInfrastructureTests.kt
Owners: @slisson, @modelix/developers

feat(model-api): new method NodeData.load
  model-api/src/commonMain/kotlin/org/modelix/model/data/ModelData.kt
Owners: @slisson

fix(model-client): thread leak in VersionChangeDetector
  model-client/src/jvmMain/kotlin/org/modelix/model/client/RestWebModelClient.kt
  model-client/src/jvmMain/kotlin/org/modelix/model/client/VersionChangeDetector.kt
  model-datastructure/src/commonMain/kotlin/org/modelix/model/IKeyValueStore.kt
Owners: @slisson

fix(bulk-model-sync-lib): use $originalId instead of #mpsNodeId#
  bulk-model-sync-lib/src/commonMain/kotlin/org/modelix/model/sync/bulk/ModelExporter.kt
  bulk-model-sync-lib/src/commonMain/kotlin/org/modelix/model/sync/bulk/ModelImporter.kt
  bulk-model-sync-lib/src/jvmTest/kotlin/org/modelix/model/sync/bulk/ModelImporterTest.kt
  bulk-model-sync-lib/src/jvmTest/kotlin/org/modelix/model/sync/bulk/SyncTestUtil.kt
  model-api/src/commonMain/kotlin/org/modelix/model/data/ModelData.kt
Owners: @mhuster23, @slisson

feat(mps-sync-plugin-lib): add new model from the cloud
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/SyncServiceImpl.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/transformers/ModelTransformer.kt
Owners: @modelix/developers

feat(mps-sync-plugin): enable old cloud tool window
  mps-sync-plugin/build.gradle.kts
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/history/CloudView.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/CloudTool_Tool.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/IconContainer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/plugin/Mpsplugin_ProjectPlugin.java
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/AppListener.kt
  mps-sync-plugin/src/main/resources/META-INF/plugin.xml
Owners: @modelix/developers

feat(mps-sync-plugin-lib): move model to new module
  mps-sync-plugin-lib/src/main/kotlin/org/modelix/mps/sync/transformation/modelixToMps/incremental/TreeChangeVisitor.kt
Owners: @modelix/developers

test(mps-sync-plugin): renamed test
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedFromTheCloudToLocalAndSyncedTest.kt
Owners: @modelix/developers

chore: disable the commit message body line length limit
  commitlint.config.js
Owners: @modelix/developers

test(mps-sync-plugin): test for sync of single module
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ModuleBinding.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/ProjectModulesSynchronizer.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/SyncTask.java
  mps-sync-plugin/src/main/java/org/modelix/model/mpsplugin/Synchronizer.java
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/api/ISyncService.kt
  mps-sync-plugin/src/test/kotlin/ModuleCanBeCopiedOnAndSyncedCloudTest.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedFromTheCloudToLocalAndSyncedTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers

test(mps-sync-plugin): sync transient module from server
  mps-sync-plugin/src/main/java/org/modelix/model/mpsadapters/mps/SModelAsNode.java
  mps-sync-plugin/src/main/kotlin/org/modelix/mps/sync/ModelSyncService.kt
  mps-sync-plugin/src/test/kotlin/MPSProjectDataBuilder.kt
  mps-sync-plugin/src/test/kotlin/ModuleCanBeCopiedOnAndSyncedCloudTest.kt
  mps-sync-plugin/src/test/kotlin/ModuleOnTheCloudCanBeCheckoutAsTransientModuleTest.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedAndSyncOnCloudTest.kt
  mps-sync-plugin/src/test/kotlin/ProjectCanBeCopiedFromTheCloudToLocalAndSyncedTest.kt
  mps-sync-plugin/src/test/kotlin/SyncPluginTestBase.kt
Owners: @modelix/developers
